<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>

<h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>

<h2>Orders(last 20)</h2>

<% if @orders.present? %>
  <div>
    <% @orders.each do |order| %>
      <span>order id:<%= order.id %> ; </span><br>
      <% if !order.metafields.empty? %>
        Metafields:
        <ul>
        <% order.metafields.each do |mf| %>
          <li>
            <span> <%= mf.namespace %>  <%= mf.key %>  <%= mf.value %> </span>
          </li>
        <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>This app has not created any orders for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>
